/* colors */
:root {
  scroll-behavior: Smooth;
  --theme-black: #101010;
  --theme-blue: #333850;
  --theme-red: #851b22;
  --theme-orange: #ffad43;
  --theme-light-gray: #d5d5d4;
  --theme-light-blue: #53add0;
  --theme-font-color: #211d1d;
}

/* main stuff */
html {
  scroll-behavior: Smooth;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*  remember accecebility */
*:focus {
  outline: 0;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 0;
  color: var(--theme-font-color);
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  min-height: 300vh;
}

body > div {
  line-height: 1.6rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* fonts & links */
a,
a:link,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
}

@font-face {
  font-family: "TequilaSunset-Regular";
  src: url("webfonts/TequilaSunset-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("webfonts/TequilaSunset-Regular.otf") format("opentype"),
    url("webfonts/TequilaSunset-Regular.woff") format("woff"),
    url("webfonts/TequilaSunset-Regular.ttf") format("truetype"),
    url("webfonts/TequilaSunset-Regular.svg#TequilaSunset-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

.vertical_header {
  font-family: "TequilaSunset-Regular";
  font-size: 3.5rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* nav */

#logo {
  max-width: 50vw;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

nav {
  width: 100%;
  background-color: red;
  position: fixed;
  padding: 3vw 7vw 7vw 7vw;
  transition: 0.3s ease-out;
  z-index: 500;
}

nav.up {
  min-height: 4.5rem;
}

nav.down {
  min-height: 100vh;
}

.nav_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop {
  max-height: 4rem;
}

.menu {
  cursor: pointer;
  border: none;
  z-index: 999;
  transition: 0.5s;
  transform: scale(1.2);
  margin: 0.3 0 0;
}

.menu .bar1,
.menu .bar2,
.menu .bar3 {
  height: 2px;
  margin: 8px 0 0;
  transition: 0.5s;
  background-color: #fff;
}

.menu .bar1 {
  width: 30px;
}

.menu .bar2 {
  width: 30px;
}

.menu .bar3 {
  width: 30px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu:hover .bar2 {
  margin-left: 0;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  z-index: 0;
}

/* main */

main {
  background-color: var(--theme-light-gray);
  z-index: 250;
  position: relative;
  margin: 100vh 0 0 0;
}

/* main */

section {
  background-color: var(--theme-light-gray);
  min-height: 100vh;
}

/* koncept */

#koncept {
  background-color: lightgreen;
  min-height: 100vh;
}

/* udvikling */

#udvikling {
  background-color: lightblue;
  min-height: 100vh;
}

/* bestil */

#bestil {
  background-color: green;
  min-height: 100vh;
}

/* footer */

footer {
  background-color: var(--theme-black);
  color: #fff;
  min-height: 100vh;
  position: relative;
  z-index: 250;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 500px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 500px) {
  nav {
    padding: 1rem 2rem 2rem 2rem;
  }

  #logo {
    max-width: 12rem;
  }
}
