/* colors */
:root {
  --theme-black: #101010;
  --theme-black-alpha: #101010b6;
  --theme-blue: #333850;
  --theme-medium-blue: #717485;
  --theme-light-blue: #adafb9;
  --theme-red: #851b22;
  --theme-orange: #ffad43;
  --theme-light-orange: #ffc882;
  --theme-light-orange-2: #ffd6a2;
  --theme-light-gray: #d5d5d4;
  --theme-medium-gray: #7e7e7e;
  --theme-font-color: #211d1d;
}

/* main stuff */
html {
  scroll-behavior: Smooth;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main *,
main *:before,
main *:after {
  transition: 0.5s;
}

/*  remember accecebility */
*:focus {
  outline: 0;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: var(--theme-font-color);
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 100vh 0 0;
}

body div {
  line-height: 1.6rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* fonts & links */
a,
a:link,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
}

@font-face {
  font-family: "TequilaSunset-Regular";
  src: url("webfonts/TequilaSunset-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("webfonts/TequilaSunset-Regular.otf") format("opentype"),
    url("webfonts/TequilaSunset-Regular.woff") format("woff"),
    url("webfonts/TequilaSunset-Regular.ttf") format("truetype"),
    url("webfonts/TequilaSunset-Regular.svg#TequilaSunset-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  margin: 1rem 0 1rem;
}

/* nav */

nav #logo {
  position: absolute;
  top: 0.75rem;
  left: 6vw;
  width: 12rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
  transition: 0.5s ease-in;
}

nav #logo.fadeout {
  opacity: 0;
  pointer-events: none;
}

nav {
  width: 100%;
  background-color: var(--theme-black);
  position: fixed;
  top: 0;
  transition: 0.5s ease-out;
  z-index: 500;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 5.25rem;
}

nav ul {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  line-height: auto;
  transition: 0.3s ease-out;
  margin: 0 0 2vh;
  position: relative;
}

nav ul li {
  cursor: pointer;
  margin: 0 0 3vh;
}

.nav_up {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

.nav_down {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

nav ul li::before {
  display: inline-flex;
  position: relative;
  width: 1.75rem;
  height: 2rem;
  top: 0.2rem;
  margin: 0.5rem 1rem 0 0;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/coolskills-logo-symbol-orange.svg);
  transition: 0.3s ease-out;
}

nav.down {
  height: 100vh;
}

nav.out {
  transform: translateY(-10rem);
}

nav.in {
  transition: 1.5s ease-in-out;
}

.menu {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
  cursor: pointer;
  border: none;
  z-index: 999;
  transition: 0.5s;
  transform: scale(1.2);
}

.menu .bar1,
.menu .bar2,
.menu .bar3 {
  height: 2px;
  margin: 8px 0 0;
  transition: 0.5s;
  background-color: #fff;
}

.menu .bar1 {
  width: 30px;
}

.menu .bar2 {
  width: 30px;
}

.menu .bar3 {
  width: 30px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu:hover .bar2 {
  margin-left: 0;
}

/* splash */

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#splash .slide {
  width: 100%;
  height: 100%;
}

#frame_1_fire {
  background-image: url(../img/fire_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frame_1_fire h1 {
  font-size: 8vh;
  line-height: 7vh;
  max-width: 70vw;
  margin: 0 0 25vh;
}

#frame_1_fire .support {
  position: absolute;
  width: 15vh;
  height: auto;
  bottom: 18vh;
  left: 10vw;
}

#frame_1_fire .icons {
  position: absolute;
  bottom: 6vh;
  right: 4vh;
  display: none;
  flex-direction: column;
  z-index: 999;
}

#frame_1_fire .icons img {
  border: solid 2px #000;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  margin: 0 0 0.5rem 0;
}

/* main */

main {
  z-index: 250;
  position: relative;
}

main .more_wrapper {
  position: absolute;
  top: -19vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 999;
}

main .more {
  transition: 0.5s;
  transform-origin: center center;
}

main .more:hover {
  transform: scale(1.2);
}

main .more::after {
  position: absolute;
  content: "";
  top: 5vh;
  left: 50%;
  height: 1.75rem;
  width: 1.75rem;
  transform: translateX(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/symbol-down-arrow.svg);
}

/* sections */

section {
  background-color: var(--theme-light-gray);
  position: relative;
}

section > h2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg) translate(150%, 100%);
  transform-origin: right bottom;
  font-family: "TequilaSunset-Regular";
  color: var(--theme-black);
  font-size: 2.8rem;
  padding: 0;
  line-height: 1.7rem;
  opacity: 0.2;
}

.blackbar {
  color: var(--theme-light-gray);
  background-color: var(--theme-black);
  padding: 1rem;
}

.content {
  padding: 2rem;
  transition: 0.5s;
}

.content p,
.content h4 {
  padding: 0 15vw 0 0;
}

.content h4 {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--theme-blue);
}

/* koncept */

#koncept,
#koncept_try {
  background-color: var(--theme-orange);
  position: relative;
}

#koncept .content,
#koncept_try .content {
  display: grid;
  grid-gap: 2rem;
}

#koncept .text_1 {
  margin: 0 0 -2rem;
}

#koncept .jump_girl {
  width: 90%;
  max-width: 20rem;
  height: auto;
}

#koncept {
  padding: 0 0 15vh;
}

/* koncept features slopes */

#koncept::after {
  content: "";
  width: 110vw;
  height: 25vh;
  position: absolute;
  bottom: -1vw;
  left: -1vw;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url(../img/features_slope_top.svg);
  transition: 0.5s;
}

#koncept_try::before {
  content: "";
  width: 105vw;
  height: 25vh;
  position: absolute;
  top: -1vw;
  left: -1vw;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url(../img/features_slope_bottom.svg);
  transition: 0.5s;
}

/* koncept features */

#koncept_features {
  width: 100%;
  background-color: var(--theme-blue);
  position: relative;
  padding: 0 0 0 7vw;
}

#koncept_features .content_wrapper {
  display: grid;
  grid-gap: 2rem;
}

#koncept_features .content_wrapper h4 {
  color: var(--theme-orange);
  font-size: 1.75rem;
  margin: 0 0 2rem;
}

#koncept_features ul {
  color: var(--theme-light-gray);
  font-size: 1rem;
  line-height: auto;
  transition: 0.3s ease-out;
  margin: 0;
  position: relative;
  list-style-position: outside;
  z-index: 100;
  padding: 0 3rem 0 2.5rem;
}

#koncept_features ul li {
  margin: 0 0 2rem;
  position: relative;
}

#koncept_features ul li::before {
  position: absolute;
  width: 1.75rem;
  height: 2rem;
  top: -0.5rem;
  left: -2.5rem;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/coolskills-logo-symbol-orange.svg);
  transition: 0.3s ease-out;
}

#koncept_features .feature_images {
  position: relative;
}

#koncept_features .poster {
  max-width: 60vw;
  margin: 1rem 0 0;
}

#koncept_features .arm {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 70vw;
  z-index: 200;
}

/* koncept feature try */

#features #poster {
  max-width: 60vw;
  margin: 1rem 0 0;
}

#features #arm {
  position: absolute;
  right: -32vw;
  bottom: 0;
  max-width: 80vw;
  z-index: 200;
}

/* koncept explainer */

#koncept_explainer {
  position: relative;
  background-color: var(--theme-light-gray);
}

#koncept_explainer .content {
  display: grid;
  grid-column-gap: 2rem;
}

#koncept_explainer .how_wrapper {
  position: relative;
}

#koncept_explainer .how_wrapper > h4 {
  color: var(--theme-red);
  padding: 0 0 0 0;
  position: absolute;
  top: 5%;
  left: 0;
}

#koncept_explainer .box h4 {
  color: var(--theme-orange);
  font-size: 1.75rem;
}

#koncept_explainer .box p,
#koncept_explainer .box ul {
  color: var(--theme-light-gray);
  padding: 0;
}

#koncept_explainer ul {
  display: none;
  list-style: none;
  margin: 0 0 0 1rem;
}

#koncept_explainer ul li::before {
  content: "\2022";
  color: var(--theme-orange);
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
  padding-left: -1rem;
}

#koncept_explainer .box h4 {
  padding: 0 0 0 0;
}

#koncept_explainer .image_wrapper {
  line-height: 0;
}

#koncept_explainer .how_wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

#koncept_explainer .image_wrapper img {
  position: relative;
  transform: scale(0.8);
  transform-origin: center bottom;
  z-index: 100;
}

#koncept_explainer .how_2 .image_wrapper img {
  right: -10%;
  bottom: -2rem;
}

#koncept_explainer .how_3 .image_wrapper img {
  right: -10%;
  bottom: -0.1rem;
  transform: scale(0.75);
}

#koncept_explainer .how_5 .image_wrapper img {
  transform: scale(0.9);
}

#koncept_explainer .how_6 .image_wrapper img {
  right: -5%;
  bottom: -0.15rem;
}

#koncept_explainer .box {
  background-color: var(--theme-red);
  padding: 2rem 0 2rem;
  position: relative;
  z-index: 50;
}

#koncept_explainer .box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: var(--theme-red);
  z-index: -1;
  transition: none;
}

#koncept_explainer .box::after {
  content: "";
  position: absolute;
  height: 82px;
  width: 200vw;
  bottom: -60px;
  left: 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-size: 1920px 80px;
  background-repeat: repeat-x;
  background-position: top -50vw;
  background-image: url(../img/rugged_line_explainer.svg);
  z-index: -1;
  transition: none;
}

#koncept_explainer .number {
  position: absolute;
  top: -8.5rem;
  left: 5%;
  width: 5rem;
  height: 9rem;
}

/* udvikling */

#udvikling,
#udvikling_how {
  background-color: var(--theme-blue);
  color: var(--theme-light-blue);
  position: relative;
  z-index: 10;
}

#udvikling .blackbar {
  margin: 3rem 0 0;
}

#udvikling_how > h2 {
  transform: rotate(90deg) translate(120%, 100%);
  color: var(--theme-light-blue);
}

#udvikling_how h4 {
  color: var(--theme-orange);
  padding: 0;
}

#udvikling_how .development_explainer {
  max-width: 80%;
}

#udvikling_how .content {
  display: grid;
  grid-gap: 2rem;
  z-index: 100;
}

#udvikling .development_wrapper {
  background-color: var(--theme-light-blue);
  position: relative;
  line-height: 0;
  margin: 0;
  padding: 0;
}

#udvikling #develop_image {
  width: 100%;
  margin: -1px 0 -1px;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/workstation_mobile.jpg);
}

#udvikling .development_wrapper::after {
  content: "";
  width: 103%;
  height: 13vw;
  position: absolute;
  bottom: -1px;
  left: -10px;
  z-index: 100;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url(../img/development_slope_mobile.svg);
  transition: 0.5s;
}

#udvikling_how ul {
  list-style: none;
  margin: 0 0 0 1rem;
}

#udvikling_how ul li::before {
  content: "\2022";
  color: var(--theme-orange);
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
  padding-left: -1rem;
}

/* accordion */

#udvikling_how .mobile .accordion_wrapper:nth-child(odd) {
  background-color: var(--theme-medium-blue);
  color: var(--theme-blue);
}

#udvikling_how .mobile .accordion_wrapper:nth-child(odd) p {
  font-weight: bold;
}

#udvikling_how .mobile .accordion_wrapper:nth-child(even) {
  background-color: var(--theme-blue);
  color: var(--theme-light-blue);
}

#udvikling_how .mobile .accordion {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5vw 7vw 5vw;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.5s;
  position: relative;
  transition: 0.6s ease;
}

#udvikling_how .mobile .accordion:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 1rem;
  transform: translateY(-50%) rotate(0);
  transform-origin: center center;
  width: 0.8rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/symbol-more-arrow-light-blue.svg);
  transition: 0.5s;
}

#udvikling_how .mobile .accordion.active:after {
  transform: translateY(-50%) rotate(90deg);
}

#udvikling_how .accordion img {
  border: solid 2px var(--theme-light-blue);
  border-radius: 50%;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  margin: 0 0 0.5rem 0;
}

#udvikling_how .mobile .accordion h5 {
  align-items: center;
  font-size: 1.75rem;
  line-height: 2rem;
  color: var(--theme-light-blue);
  margin: 0 0 0 1rem;
}

#udvikling_how .mobile .panel {
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease;
  opacity: 0;
}

#udvikling_how .mobile .panel p {
  opacity: 0;
  transform: translateX(-100vw);
}

#udvikling_how .mobile .panel.show {
  opacity: 1;
  max-height: 100rem;
}

#udvikling_how .mobile .panel.show p {
  animation: slide 0.5s forwards ease-in-out;
  margin: 0 7vw 2rem;
}

#udvikling_how .accordion h5 {
  font-size: 1.75rem;
  line-height: 2rem;
  color: var(--theme-font-color);
  margin: 0;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#udvikling_how .develop_background {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 80%;
  margin: 0 20% 5% 5%;
  height: auto;
  padding-bottom: 100%;
  background-image: url(../img/develop_mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.03;
  z-index: -1;
}

/* bestil */

#bestil {
  margin-bottom: -1px;
  display: block;
  position: relative;
  background-color: var(--theme-orange);
  z-index: 10;
}

#bestil .graffiti {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/graffiti_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.07;
  z-index: -1;
}

#bestil .content {
  display: grid;
  grid-gap: 2rem;
  padding: 3rem 3rem 0;
  z-index: 100;
}

#bestil h4 {
  color: var(--theme-font-color);
  margin: 0 8vw 1rem 0;
  padding: 0;
}

#bestil p {
  margin: 0 0 0 0;
}

#bestil .order_flow {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.5rem;
  font-family: "Bebas Neue", cursive;
}

#bestil .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border: solid #000 3px;
  font-size: 2rem;
  line-height: 0;
  padding: 0.2rem 0 0;
  position: relative;
}

#bestil .tak {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  line-height: 0;
  position: relative;
  top: -0.5rem;
}

#bestil .steps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
}

#bestil .startline::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 8rem;
  background-color: #000;
}

#bestil .indiegogo_link {
  color: #000;
  background-color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  line-height: 0;
  border-radius: 1rem;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  cursor: pointer;
}

#bestil .indiegogo_link:hover {
  transform: scale(1.1);
  background-color: var(--theme-blue);
  color: var(--theme-light-orange);
}

#bestil .indigogo_facts {
  background-color: var(--theme-light-orange);
  padding: 1rem 2rem 2rem;
  margin: 2rem 0 0;
}

#bestil .indigogo_facts ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1em;
}

#bestil .indigogo_facts ul li {
  padding: 0 0 0.5rem 0;
}

#bestil .order_image {
  width: 100%;
  margin: -4rem 0 -1rem;
  padding-bottom: 91.07%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/two_kids_web.png);
  align-self: flex-end;
}

/* footer */

footer {
  background-color: var(--theme-black);
  color: var(--theme-medium-gray);
  min-height: 100vh;
  position: relative;
  z-index: 250;
}

footer .content {
  display: grid;
  grid-gap: 2rem;
  padding: 3rem 3rem 10rem;
}

footer h3 {
  color: var(--theme-medium-gray);
}

footer .content p,
footer .content h4 {
  padding: 0 3vw 0 0;
}

footer .logo {
  max-width: 12rem;
  margin: 0 0 1rem;
}

.symbol_wrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

footer .some {
  width: 12rem;
  margin: 1rem auto 0 0;
  display: inline-block;
}

footer .share_wrapper {
  display: flex;
  margin: 0.5rem 0 0;
}

footer .share_projekt {
  width: 3rem;
  margin-right: 1rem;
}

footer .support {
  width: 5rem;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries mobile landscape- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media only screen and (max-width: 888px) and (orientation: landscape) {
  #frame_1_fire {
    background-image: url(../img/fire_mobile_landscape.jpg);
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 500px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 500px) {
  .content {
    padding: 3rem;
  }

  .blackbar {
    padding: 1rem 1rem 1rem 3rem;
  }

  #frame_1_fire .icons {
    bottom: 6vh;
    right: 6vh;
  }

  #udvikling_how .development_explainer {
    max-width: 60%;
  }

  footer .content {
    padding: 6vw;
  }

  .symbol_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries tablet portrait over 500px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 500px) and (portrait: landscape) {
  #frame_1_fire {
    background-image: url(../img/fire_tablet_portrait.jpg);
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 600px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 600px) {
  footer .content {
    grid-template-columns: 1fr 1fr;
  }

  footer .content p,
  footer .content h3 {
    padding: 0 8vw 0 0;
  }

  .symbol_wrapper {
    grid-column: 2;
    grid-row: 1;
    padding: 1.25rem 0 0;
    grid-template-columns: 1fr;
  }

  #koncept .image_wrapper {
    display: flex;
    justify-content: center;
  }

  #koncept_explainer ul {
    display: block;
  }

  #udvikling #develop_image {
    padding-bottom: 55.5%;
    background-image: url(../img/workstation_tablet.jpg);
  }

  #udvikling_how .develop_background {
    background-image: url(../img/develop_tablet.png);
    width: 75%;
    margin: 0 25% 5% 5%;
  }

  #bestil .graffiti {
    background-image: url(../img/graffiti_tablet.jpg);
  }

  #bestil .indiegogo_link,
  #bestil .indigogo_facts {
    max-width: 85%;
  }

  footer .om {
    padding: 0 20vw 0 0;
    grid-column: 1 / span 2;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 800px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 800px) {
  .menu {
    transform: translateY(-50vh);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5.25rem;
    pointer-events: all;
  }

  .nav_up {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  nav ul {
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 1rem 0 0;
    transition: 0.3s ease-out;
    position: relative;
  }

  nav ul li {
    display: inline-block;
    margin: 0 1.5rem 0 0;
  }

  nav ul li a {
    position: relative;
    transition: 0.5s;
  }

  nav ul li a,
  nav ul li a:link,
  nav ul li a:active,
  nav ul li a:visited {
    color: var(--theme-light-gray);
  }

  nav ul li a:hover {
    color: #fff;
  }

  nav ul li a::after {
    display: block;
    content: "";
    width: 2px;
    height: 3px;
    background: var(--theme-orange);
    position: absolute;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: 0.5s;
  }

  nav ul li a:hover:after {
    width: 100%;
    opacity: 1;
  }

  nav ul li a::after {
    height: 1px;
  }

  nav ul li::before {
    display: none;
  }

  #frame_1_fire .icons {
    display: flex;
    flex-direction: row;
    bottom: 6vh;
    right: 6vh;
  }

  #frame_1_fire .icons img {
    border: solid 2px #000;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 1rem;
    transition: 0.5s;
  }

  section > h2 {
    color: var(--theme-black);
    font-size: 3.5rem;
    line-height: 2rem;
    opacity: 0.3;
  }

  #koncept .content {
    grid-template-columns: 1fr 1fr;
  }

  #koncept .subheader {
    grid-column: 1 / span 2;
  }

  #koncept .content p {
    grid-column: 1;
    padding: 0 0 0 0;
  }

  #koncept .jump_girl {
    max-width: 80%;
    align-self: center;
  }

  #koncept_explainer .content {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.5rem;
  }

  #koncept_explainer .how_2 .box::before,
  #koncept_explainer .how_4 .box::before,
  #koncept_explainer .how_6 .box::before {
    margin-left: 0;
    margin-right: 0;
  }

  #koncept_explainer .how_2 .box::after,
  #koncept_explainer .how_4 .box::after,
  #koncept_explainer .how_6 .box::after {
    background-image: none;
  }

  #udvikling_how .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 3rem 0 3rem;
  }

  #udvikling_how .content p {
    padding: 0 0 0 0;
  }

  #udvikling_how .acccordian_header {
    grid-column: 1 / -1;
  }

  #udvikling_how .content {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-gap: 3rem;
  }

  #udvikling_how .development_explainer {
    max-width: 70%;
  }

  #udvikling_how .technologies.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 3rem;
  }

  #udvikling_how .technologies.content h5 {
    color: var(--theme-light-blue);
  }

  #udvikling_how .technologies.content p {
    max-width: 85%;
  }

  #bestil .content {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  #bestil h4 {
    margin: 0 0 1rem 0;
  }

  #bestil p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  #bestil .order_flow_wrapper {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  #bestil .indiegogo_link,
  #bestil .indigogo_facts {
    max-width: 100;
  }

  #bestil .indigogo_facts {
    margin: 2rem 0 2rem;
  }

  #bestil .order_image_wrapper {
    grid-column: 1;
    grid-row: 2;
    display: flex;
  }

  #bestil .order_image {
    width: 100%;
    margin: -1px 0 -1rem;
  }

  footer .content {
    grid-template-columns: auto 1fr 25%;
  }

  footer .content p,
  footer .content h4 {
    padding: 0 6vw 0 0;
  }

  .symbol_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 3rem;
  }

  footer .om {
    padding: 1.25rem 0 0;
    grid-column: 2;
  }

  .symbol_wrapper {
    grid-column: 3;
    grid-template-columns: 1fr;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 1080px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media only screen and (min-width: 1080px) {
  .content {
    padding: 3rem;
  }

  #koncept .content {
    grid-template-columns: 60% 40%;
  }

  #koncept .jump_girl {
    max-width: 20rem;
  }

  #koncept_features .content_wrapper {
    grid-template-columns: 1fr 1fr;
  }

  #udvikling_how .technologies.content {
    padding: 3rem 3rem 6rem;
  }

  #udvikling_how .technologies.content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4vw;
  }

  #udvikling_how .technologies.content p {
    max-width: 100%;
  }

  #frame_1_fire {
    background-image: url(../img/fire_desktop.jpg);
  }

  #udvikling_how .develop_background {
    background-image: url(../img/develop_desktop.png);
    width: 60%;
    margin: 0 50% 0 10%;
  }

  #bestil .graffiti {
    background-image: url(../img/graffiti_desktop.jpg);
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 1080px tablet landscape- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media only screen and (max-width: 1080px) and (orientation: landscape) {
  #frame_1_fire {
    background-image: url(../img/fire_tablet_landscape.jpg);
  }

  #frame_1_fire .support {
    width: 15vh;
    height: auto;
    bottom: 40vh;
    left: auto;
    right: 10vw;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 1080px tablet portrait- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media only screen and (max-width: 1080px) and (orientation: portrait) {
  #frame_1_fire {
    background-image: url(../img/fire_tablet_portrait.jpg);
  }

  #frame_1_fire .support {
    width: 15vh;
    height: auto;
    bottom: 40vh;
    left: auto;
    right: 10vw;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries desktop 1280px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 1280px) {
  section > .content,
  .blackbar h3 {
    margin-left: 7vw;
    margin-right: 7vw;
  }

  #koncept_explainer > .content {
    margin-left: 12vw;
    margin-right: 12vw;
  }

  #udvikling_how .development_text p {
    max-width: 85%;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries desktop 1366px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 1366px) {
  #koncept .content h4 {
    padding: 0 0 0 0;
  }

  #koncept .subheader {
    grid-column: 1 / span 1;
  }

  #koncept .text_1 {
    grid-row: 2;
    grid-column: 1;
  }

  #koncept .image_wrapper {
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-content: flex-end;
  }

  #udvikling_how .develop_background {
    padding-bottom: 45.2%;
    background-image: url(../img/develop_desktop.png);
    width: 60%;
    margin: 0 60% 0 0%;
  }

  #bestil .graffiti {
    background-image: url(../img/graffiti_desktop.jpg);
  }

  #frame_1_fire .support {
    width: 15vh;
    height: auto;
    bottom: 40vh;
    left: auto;
    right: 10vw;
  }

  section > .content,
  .blackbar h3 {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  #koncept_explainer > .content {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  footer .content {
    grid-template-columns: 15vw 30vw auto auto;
    grid-gap: 5vw;
  }

  footer .content p,
  footer .content h3 {
    padding: 0 3rem 0 0;
  }

  .symbol_wrapper {
    grid-column: 3 / span 2;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries hd 1920px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 1500px) {
  #frame_1_fire {
    background-image: url(../img/fire_hd_desktop.jpg);
  }
  #udvikling #develop_image {
    padding-bottom: 45.2%;
    background-image: url(../img/workstation_hd.jpg);
  }
  #bestil .graffiti {
    background-image: url(../img/graffiti_hd.jpg);
  }
}
