/* colors */
:root {
  --theme-black: #101010;
  --theme-blue: #333850;
  --theme-red: #851b22;
  --theme-orange: #ffad43;
  --theme-light-gray: #d5d5d4;
  --theme-light-blue: #53add0;
  --theme-font-color: #211d1d;
}

/* main stuff */
html {
  scroll-behavior: Smooth;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*  remember accecebility */
*:focus {
  outline: 0;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: var(--theme-font-color);
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

body div {
  line-height: 1.6rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* fonts & links */
a,
a:link,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
}

@font-face {
  font-family: "TequilaSunset-Regular";
  src: url("webfonts/TequilaSunset-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("webfonts/TequilaSunset-Regular.otf") format("opentype"),
    url("webfonts/TequilaSunset-Regular.woff") format("woff"),
    url("webfonts/TequilaSunset-Regular.ttf") format("truetype"),
    url("webfonts/TequilaSunset-Regular.svg#TequilaSunset-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

.vertical_header {
  font-family: "TequilaSunset-Regular";
  font-size: 3.5rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* nav */

#logo {
  position: absolute;
  top: 0.75rem;
  left: 6vw;
  width: 12rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
  transition: 0.5s ease-in;
}

#logo.fadeout {
  opacity: 0;
  pointer-events: none;
}

nav {
  width: 100%;
  background-color: var(--theme-black);
  position: fixed;
  top: 0;
  transition: 0.5s ease-out;
  z-index: 500;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 5.25rem;
}

nav ul {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  line-height: auto;
  transition: 0.3s ease-out;
  margin: 0 0 2vh;
  position: relative;
}

nav ul li {
  cursor: pointer;
  margin: 0 0 3vh;
}

.nav_up {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

.nav_down {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

nav ul li::before {
  display: inline-flex;
  position: relative;
  width: 1.75rem;
  height: 2rem;
  top: 0.2rem;
  margin: 0.5rem 1rem 0 0;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/coolskills-logo-symbol-orange.svg);
  transition: 0.3s ease-out;
}

nav.down {
  height: 100vh;
}

nav.out {
  transform: translateY(-10rem);
}

nav.in {
  transition: 1.5s ease-in-out;
}

.menu {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
  cursor: pointer;
  border: none;
  z-index: 999;
  transition: 0.5s;
  transform: scale(1.2);
}

.menu .bar1,
.menu .bar2,
.menu .bar3 {
  height: 2px;
  margin: 8px 0 0;
  transition: 0.5s;
  background-color: #fff;
}

.menu .bar1 {
  width: 30px;
}

.menu .bar2 {
  width: 30px;
}

.menu .bar3 {
  width: 30px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu:hover .bar2 {
  margin-left: 0;
}

/* splash */

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#splash .slide {
  width: 100%;
  height: 100%;
}

#frame_1_fire {
  background-image: url(../img/fire_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frame_1_fire h1 {
  font-size: 8vh;
  line-height: 7vh;
  max-width: 70vw;
  margin: 0 0 20vh;
}

#frame_1_fire .support {
  position: absolute;
  width: 15vh;
  height: auto;
  bottom: 18vh;
  left: 15vw;
}

#frame_1_fire .icons {
  position: absolute;
  bottom: 4vh;
  right: 3vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

#frame_1_fire .icons img {
  border: solid 2px #000;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  margin: 0 0 0.5rem 0;
}

/* main */

main {
  background-color: var(--theme-light-gray);
  z-index: 250;
  position: relative;
  margin: 100vh 0 0 0;
}

main .more {
  position: absolute;
  top: -16vh;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 999;
}

main .more::after {
  position: absolute;
  content: "";
  top: 5vh;
  left: 50%;
  height: 1.75rem;
  width: 1.75rem;
  transform: translateX(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/symbol-down-arrow.svg);
}

/* sections */

section {
  background-color: var(--theme-light-gray);
  min-height: 100vh;
}

/* koncept */

#koncept {
  background-color: lightgreen;
  min-height: 100vh;
}

/* udvikling */

#udvikling {
  background-color: lightblue;
  min-height: 100vh;
}

/* bestil */

#bestil {
  background-color: green;
  min-height: 100vh;
}

/* footer */

footer {
  background-color: var(--theme-black);
  color: #fff;
  min-height: 100vh;
  position: relative;
  z-index: 250;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries mobile landscape- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media only screen and (max-width: 888px) and (orientation: landscape) {
  #frame_1_fire {
    background-image: url(../img/fire_mobile_landscape.jpg);
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries tablet portrait 500px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 500px) {
  #frame_1_fire {
    background-image: url(../img/fire_tablet_portrait.jpg);
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 800px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 800px) {
  .menu {
    transform: translateY(-50vh);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5.25rem;
    pointer-events: all;
  }

  .nav_up {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  nav ul {
    color: #fff;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 1rem 0 0;
    transition: 0.3s ease-out;
    position: relative;
  }

  nav ul li {
    display: inline-block;
    margin: 0 1.5rem 0 0;
  }

  nav ul li::before {
    display: none;
  }

  #frame_1_fire .icons {
    flex-direction: row;
  }

  #frame_1_fire .icons img {
    border: solid 2px #000;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 1rem;
    transition: 0.5s;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries 1080px tablet landscape- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media only screen and (max-width: 1080px) and (orientation: landscape) {
  #frame_1_fire {
    background-image: url(../img/fire_tablet_landscape.jpg);
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries desktop 1366px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 1080px) {
  #frame_1_fire {
    background-image: url(../img/fire_desktop.jpg);
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - media queries hd 1920px- - - - - - - - - - - - - - - - - - - - - - - - - -*/

@media screen and (min-width: 1366px) {
  #frame_1_fire {
    background-image: url(../img/fire_desktop.jpg);
  }
}
